.App {
  text-align: center;
}

.container{
  display: inline-table;
  margin:30px auto;
   
   background-color: rgb(32, 176, 192);
   
}
.container:hover{
  cursor: pointer;
   
}
.logincontainer{
  display:inline-block;
  margin:30px auto;
   width: 350px;
   height: 450px;
   background-color: rgb(76, 131, 157);
   border-radius: 10px;
   box-shadow: rgb(151, 149, 149) 5px 4px 5px;
}


.container2{

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);

  
}
.square{
  width: 100px;
  height: 100px;
  border:solid rgb(255, 251, 251) 1px;
  font-size: 4pc;
  color: white;
  text-shadow: black 2px 2px;
}
.input1{

  margin-top: 80px;
}
.input2{

  margin-top: 80px;
}
.navlbl{
  font-weight: bold;
  font-size: larger;
}
.hdr{
  color: coral;
  font-family: fantasy;
  font-size: 50px;

}
.againbtn{
  background-color: rgb(40, 150, 58);
  color: white;
  border-radius: 6px;
  border-color: white;
  width: 170px;
  height: 40px;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 20px;
}
.againbtn:hover{
  cursor: pointer;
  background-color: rgb(240, 229, 229);
  color:rgb(40, 150, 58);
}
.rstBtn{
  background-color: coral;
  color: white;
  border-radius: 6px;
  border-color: white;
  width: 140px;
  height: 40px;
  font-size: larger;

}
.rstBtn:hover{
  background-color: rgb(240, 229, 229);
  color: coral;
  cursor: pointer;

}
.startbtn{
  margin-top: 80px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  font-size: larger;
  background-color: rgb(153, 27, 71);
  color: aliceblue;
}
.startbtn:hover{
cursor: pointer;
  background-color: rgb(235, 221, 226);
  color: rgb(153, 27, 71);
}

.lbl1{
  display: block;
  color: white;
  font-family: fantasy;
  font-size: x-large;
  margin-bottom: 10px;
  text-shadow: black 2px 2px ;
}
.lblInput{
  border-radius: 6px;
  height: 20px;
  border-color: white;

}

.lblInput:focus{
  background-color: black;
  color: white;

}